main {
  /* background-color: slategrey;
  height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.showChat {
  display: block;
}
.hideChat {
  display: none;
}

/* chatbot elements */

.chatbot-container {
  position: fixed;
  bottom: 70px;
  right: 40px;
  z-index: 999;
  background-color: var(--highlight-bg);
  width: 425px;
  min-height: 380px;
  border-radius: var(--border-rad-lg);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1em 1rem;
  color: #fcfcfc;
  border-radius: 1rem;
  /* z-index: 3; */
}

.chatbot-container > * {
  padding: 0.5em;
}

.chatbot-header {
  display: flex;
  justify-content: end;
}

.logo {
  grid-area: logo;
  width: 45px;
}

.supportId {
  font-size: 10px;
  grid-area: supportId;
  text-align: right;
}

.chatbot-conversation-container {
  max-height: 250px;
  min-height: 250px;
  overflow-y: scroll;
  margin: 0em 0 1em;
}

/* stop ugly scroll bar on some browsers */
.chatbot-conversation-container::-webkit-scrollbar {
  display: none;
}

.chatbot-conversation-container::-moz-scrollbar {
  display: none;
}

.speech {
  padding: 0em;
  margin: 0em auto;
  max-width: 260px;
  color: var(--light-text);
  min-width: 100%;
  border-radius: var(--border-rad-lg);
}

.speech:first-child {
  margin-top: 0;
}

.speech-assistant {
  background: var(--primary-900);
  border-radius: 0 1.5em 1.5em 1.5em;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: start;
  white-space: break-spaces;
}

.speech-user {
  background: var(--primary-700);
  border-radius: 1em 0 1em 1em;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.chatbot-input-container {
  display: flex;
}

.submit-btn {
  background: var(--primary-900);
  color: white;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid var(--primary-900);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.submit-btn:hover {
  background: var(--primary-700);
  border: 1px solid var(--primary-700);
}
.submit-btn:disabled {
  background: var(--primary-200);
  border: 1px solid var(--primary-200);
  color: var(--primary-500);
}
.clear-btn {
  border-radius: 8px;
}
.user-input {
  /* color: #fcfcfc; */
  width: 100%;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.send-btn-icon {
  width: 20px;
  display: block;
}

/* The cursor */

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-cursor::after {
  content: "|";
  font-weight: 700;
  display: inline-block;
  animation: cursor-blink 0.5s steps(2) infinite;
}

@media screen and (max-width: 600px) {
  .chatbot-header {
    display: flex;
    justify-content: start;
  }
  .class-for-ai-btn {
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;
  }
  .open-chat {
    position: relative;
  }
  .class-for-ai-btn {
    display: flex;
    justify-content: end;
  }
}

/* loader */
.loader {
  display: flex;
  justify-content: center;
}
.dot-flashing {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: var(--primary-600);
  color: var(--primary-900);
  animation: dot-flashing 0.8s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -20px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: var(--primary-600);
  color: var(--primary-900);
  animation: dot-flashing 0.8s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 20px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: var(--primary-600);
  color: var(--primary-900);
  animation: dot-flashing 0.8s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: var(--primary-900);
  }
  50%,
  100% {
    background-color: var(--primary-700);
  }
}
/* dot-flashing */
/* typing effect */
.speech-assistant:last-child > p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(60, end);
  /* opacity: 1; */
  animation-fill-mode: forwards;
}
.speech-assistant:only-child > p {
  /* opacity: 1; */
  animation: none;
}
@keyframes typing {
  from {
    width: 0%;
    opacity: 0;
  }
  10% {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

/* typing effect */
