.todo-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  list-style-type: none;
  /* display: flex; */
}
.main_li {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid wheat;
  padding: 10px;
}

.text {
  font-weight: bold;
  font-size: x-large;
  margin-left: 5px;
}

.text-completed {
  font-weight: bold;
  font-size: x-large;
  text-decoration: red line-through;
  margin-left: 5px;
  opacity: 50%;
}

.title_and_tags {
  display: flex;
  justify-content: space-between;
}
.toggle-and-text {
  display: flex;
}

.input_task {
  display: flex;
}

.btns_3_level {
  display: flex;
}
.dial_btns_remove {
  display: flex;
  justify-content: end;
}

.dial_btn_remove {
  margin-right: 5px;
}

.popup_btn {
  display: flex;
}

.lowest {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
}

.radioBtnCard {
  display: flex;
  margin-top: 10px;
}
.radioBtnFlex {
  display: flex;
}
.radioaBtnItem {
  margin-right: 10px;
}
.radioaBtnItem > * {
  margin: 0 5px;
}

.badge_and_btn {
  position: relative;
}

.tagRemoveBtn {
  position: absolute;
  top: -5px;
  right: -10px;
  border: none;
  border-radius: 25%;
  background-color: #f19ea6;
  color: black;
  font-weight: bolder;
  box-shadow: -1px 1px 2px 0px darkslategray;
  /* line-height: 12px; */
  /* font-size: 8pt; */
}

.tagRemoveBtn:hover {
  background-color: #e97984;
  cursor: pointer;
}
