.App {
  text-align: center;
  margin: auto;
  max-width: 800px;
}

ul {
  padding: 0;
}

button {
  height: fit-content;
  flex-shrink: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head {
  display: flex;
  justify-content: space-between;
}
.btn_theme {
  display: flex;
  align-items: center;
}

.moon_btn {
  background-color: var(--indigo-900);
  color: var(--yellow-300);
  /* border: 1px solid #ffdd1c; */
}
.sun_btn {
  background-color: var(--yellow-300);
  color: var(--indigo-800);
  /* border: 1px solid #000cb8; */
}
